<div class="form-group">
  <label for="numeroDisciplinasNaGraduacao">Número de Disciplinas na Graduação</label>
  <input type="number" class="form-control" id="numeroDisciplinasNaGraduacao" />
</div>

<div class="form-group">
  <label for="cargaHorariaAnualNaGraduacao">Carga Horária Anual na Graduação</label>
  <input type="number" class="form-control" id="cargaHorariaAnualNaGraduacao" />
</div>

<div class="form-group">
  <label for="monografiaEmGraduacao">Monografia em graduação</label>
  <input type="number" class="form-control" id="monografiaEmGraduacao" />
</div>

<div class="form-group">
  <label for="iniciacaoCientifica">Iniciação científica</label>
  <input type="number" class="form-control" id="iniciacaoCientifica" />
</div>

<div id="textAreas">
  <!-- TODOS OS TEXTAREAS DEVEM FICAR AQUI -->
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Há algum outro tipo de produção a ser destacada em 2021? Descreva as
      principais informações sobre esta(s) publicação(ções), caso não tenha, deixe em branco</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Cite outras informações que você julgar relevantes, como exemplo: bolsista
      de
      produtividade, membro de sociedade científica, revisor de periódico, organizador de evento, membro de comitês
      científicos, etc.</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

  </div>
</div>