<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Você obteve uma ou mais produções de LIVROS ou CAPÍTULOS DE LIVROS?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
  <label class="form-check-label" for="defaultCheck2">
    Você obteve uma ou mais OUTROS tipos de produções BIBLIOGRÁFICAS?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3">
    Você obteve uma ou produções técnicas de desenvolvimento de material DIDÁTICO e INSTRUCIONAL?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
  <label class="form-check-label" for="defaultCheck4">
    Você obteve uma ou produções técnicas de desenvolvimento de APLICATIVOS?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
  <label class="form-check-label" for="defaultCheck5">
    Você lecionou algum Curso de Curta Duração?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
  <label class="form-check-label" for="defaultCheck6">
    Você atuou em alguma Organização de Evento científico?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
  <label class="form-check-label" for="defaultCheck7">
    Você atuou no Desenvolvimento de um Produto?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
  <label class="form-check-label" for="defaultCheck8">
    Você colaborou em algum Programa de Rádio ou TV?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
  <label class="form-check-label" for="defaultCheck9">
    Você publicou algum Relatório de Pesquisa?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
  <label class="form-check-label" for="defaultCheck10">
    Você colaborou na Apresentação de Trabalho em evento acadêmico/científico?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
  <label class="form-check-label" for="defaultCheck11">
    Você atuou no Desenvolvimento de uma Técnica?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
  <label class="form-check-label" for="defaultCheck12">
    Você atuou em Editoria?
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
  <label class="form-check-label" for="defaultCheck13">
    Você desenvolveu algum Serviço Técnico?
  </label>
</div>
